@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>En esta página podrá encontrar la información y funciones referentes a una empresa ficticia, correspondiente al proyecto final de Programación Avanzada</p>

</div>
