@model G2_ProyectoFinal.Models.Cliente

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agregrar</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" id="iptCedula" class="form-control" value="@ViewData["NuevoID"]" readonly />
                <span asp-validation-for="Id"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" id="iptNombre" class="form-control" required />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" required/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumTelefono" class="control-label"></label>
                <input asp-for="NumTelefono" class="form-control" required/>
                <span asp-validation-for="NumTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProvinciaId" class="control-label"></label>
                <select asp-for="ProvinciaId" id="ProvinciaId" class="form-control" asp-items="ViewBag.ProvinciaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantonId" class="control-label"></label>
                <select asp-for="CantonId" id="CantonId" class="form-control" asp-items="ViewBag.CantonId"></select>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a class="btn btn-secondary" asp-action="Index">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#ProvinciaId').change(function () {
                var provinciaId = $(this).val();
                if (provinciaId !== null && provinciaId !== '') {
                    $.ajax({
                        url: '/Clientes/FiltroCantones',
                        type: 'GET',
                        data: { provinciaId: provinciaId },
                        success: function (result) {
                            $('#CantonId').empty();
                            $.each(result, function (i, item) {
                                $('#CantonId').append($('<option></option>').val(item.value).text(item.text));
                            });
                        }
                    });
                } else {
                    $('#CantonId').empty();
                }
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            const inputCedula = document.getElementById('iptCedula');
            const inputNombre = document.getElementById('iptNombre');
            inputCedula.addEventListener('blur', function () {
                const numeroCedula = inputCedula.value.trim();
                if (numeroCedula) {
                    fetch(`https://apis.gometa.org/cedulas/${numeroCedula}`)
                        .then(response => response.json())
                        .then(data => {
                            const nombre = data.results[0].fullname;
                            inputNombre.value = nombre;
                        })
                        .catch(error => {
                            console.error('Error al obtener los detalles de la cédula:', error);
                        });
                }
            });
        });
    </script>
}

