@model G2_ProyectoFinal.Models.Transaccione

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agregar</h1>

<h4>Transacción</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" value="@ViewData["NuevoID"]" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LenguajeId" class="control-label"></label>
                <select asp-for="LenguajeId" class ="form-control" asp-items="ViewBag.LenguajeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MonedaId" class="control-label"></label>
                <select asp-for="MonedaId" class ="form-control" asp-items="ViewBag.MonedaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPagoId" class="control-label"></label>
                <select asp-for="MetodoPagoId" class ="form-control" asp-items="ViewBag.MetodoPagoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" required />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="datetime-local" required />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div><br />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div>
    <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
